# Environment variables
.env
*.log

# macOS system files
.DS_Store

# Node dependencies
node_modules/

# Firebase credentials (change name if needed)
firebaseServiceAccount.json
*.json.backup
foretoken-backup.zip
firebase-service-account.json

# Build artifacts (if any)
dist/

