body {
  background-color: #000;
  color: #ccc;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 2rem;
}

h1 {
  color: #a8e0ff; /* silver-blue accent */
  margin-bottom: 2rem;
}

canvas {
  background-color: #111;
  border: 1px solid #333;
  border-radius: 8px;
  margin-top: 30px;
}

#concourseChart {
  height: 400px !important;
  width: 100% !important;
  display: block;
}
